.main{
border:2px solid blue;
padding: 2%;
display: flex;
flex-direction: row;
background-color: black;
width: 100%;
}
h2{
  color: red;
}
h4{
  color: purple;
}
a{
  color: brown;
  font-size: 25px;
  word-wrap: break-word;
}
.left{
  border: 2px solid green;
  padding: 2%;
  margin: 2%;
  width: 90%;
  text-align: center;
  background-color: skyblue;

}
.right{
  border: 2px solid yellow;
  padding: 2%;
  margin: 2%;
  width: 90%;
  background-color:lavender;
}
#name{
  color: purple;
  font-size: 30px;
  text-align: center;
}
.left img{
width: 50%;
border-radius: 50%;
border: 2px solid green;
display: block;
margin-left: auto;
margin-right: auto;


}
@media only screen and (min-width: 320px) and (max-width: 480px){
  .main{
  border:2px solid blue;
  padding: 2%;
  display: flex;
  flex-direction: column;
  width: 100%;
  }
  h2{
    color: red;
  }
  h4{
    color: purple;
  }
  a{
    color: brown;
    font-size: 40px;
    word-wrap: break-word;
  }
  .left{
    border: 2px solid green;
    padding: 2%;
    margin: 2%;
    width: 90%;
    text-align: center;
    background-color: skyblue;
    font-size: 13px;
  }
  .right{
    border: 2px solid yellow;
    padding: 2%;
    margin: 2%;
    background-color: lightpink;
    width: 70%;
  }
  #name{
    color: purple;
    font-size: 30px;
    text-align: center;
  }
  .table1{
    width: 90%;
    overflow: auto;
  }
  .left img{
  width: 50%;
  border-radius: 70%;
  border: 2px solid green;
  display: block;
  margin-left: auto;
  margin-right: auto;


  }
}
